.header {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  gap: 60px;
  justify-content: center;
  align-items: center;
}
.logoZig {
  height: 60px;
  width: 60px;
}
